%h1 All Restaurants

%table.table.table-bordered.table-striped
  %thead
    %tr
      %td Name
      %td Theme
      %td Price Range
      %td Accepts
  %tbody

%a.btn.btn-large.btn-success{:href => new_restaurant_path} Add

- content_for :javascript_body do
  :javascript
    App.restaurants = new App.Restaurants();
    App.restaurants.reset(#{@restaurants.to_json});
    new App.RestaurantsTableView({collection: App.restaurants})

